# Machine learning model

#ml model

In [1]:
#Data Creating --> data cleaning and preprocessing ---> select ml model based on the targetn data--->
#model tranning --> model prediction ---> EValuate  the ,model


#Types the mmodel
#(1)supervised ml model -->In this we will provide calues with the model
#(2)unsupervised model --> in this we will provide only values with the column namen

In [2]:
#(1)supervised ml model -->

#Target Data
#(1)Numerical --> Linear Regression , Descion Regression , RandomforestRegressor
#(2)Categorical Data --> Logistic Regression , Descion REgression  , Random forest classifioer 
#navive Bayes , svm

# Linear Regression

In [3]:
import pandas as pd
import numpy as np

In [4]:
df =pd.read_csv("insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
lb =LabelEncoder()

In [8]:
df["sex"] =lb.fit_transform(df["sex"])
df["smoker"] =lb.fit_transform(df["smoker"])
df["region"] =lb.fit_transform(df["region"])

In [9]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [10]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [11]:
x =df.drop(columns=["charges"])
y =df["charges"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train , x_test , y_train , y_test  =train_test_split(x, y ,test_size =0.2 , random_state =42)

In [30]:
from sklearn.linear_model import LinearRegression

In [15]:
lr =LinearRegression()

In [16]:
lr.fit(x_train ,y_train)

LinearRegression()

In [17]:
y_pred =lr.predict(x_test)

In [18]:
from sklearn.metrics import r2_score

In [19]:
r2_score(y_test , y_pred)

0.7833463107364538

# tips data set

In [20]:
df =pd.read_csv("tips.csv")

In [21]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
lb =LabelEncoder()

In [25]:
df["sex"] =lb.fit_transform(df["sex"])
df["smoker"] =lb.fit_transform(df["smoker"])
df["day"] =lb.fit_transform(df["day"])                            
df["time"] =lb.fit_transform(df["time"])

In [26]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [28]:
x =df.drop(columns =["total_bill"])
y =df["total_bill"]

In [29]:
from sklearn.model_selection import train_test_split

In [31]:
x_train , x_test , y_train , y_test  =train_test_split(x, y ,test_size =0.2 , random_state =42)

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
lr =LinearRegression()

In [34]:
lr.fit(x_train ,y_train)

LinearRegression()

In [35]:
y_pred =lr.predict(x_test)

In [36]:
from sklearn.metrics import r2_score

In [37]:
r2_score(y_test , y_pred)

0.6334779105328123